[tool.poetry]
name = "unicorn_web"
version = "0.1.0"
description = "Unicorn Properties Web"
authors = ["Amazon Web Services"]
packages = [
    { include = "approvals_service", from = "src" },
    { include = "search_service", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"
boto3 = "^1.26.121"
aws-lambda-powertools = {extras = ["tracer"], version = "^2.14.1"}
requests = "2.28.1"
crhelper = "2.0.11"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1.2"
pytest-mock = "^3.7.0"
pytest-cov = "^3.0.0"
coverage = "^6.4.2"
requests = "^2.28.1"
moto = "^3.1.17"
importlib-metadata = "^4.12.0"
aws-lambda-powertools = {extras = ["aws-sdk"], version = "^2.14.1"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -vv -W ignore::UserWarning --cov=approvals_service --cov=search_service --cov-config=.coveragerc --cov-report term --cov-report html"
testpaths = [
    "./tests/unit",
]
