[project]
name = "contracts_service"
version = "0.3.0"
description = "Unicorn Properties Contact Service"
authors = [
    {name = "Amazon Web Services"}
]

requires-python = ">=3.13"
dependencies = [
    "boto3>=1.35",
    "aws-lambda-powertools[aws-sdk]>=3.3.0",
    "aws-xray-sdk>=2.12.0",
]

[project.optional-dependencies]
dev = [
    "pytest>=7.4.0",
    "requests>=2.31.0",
    "moto>=4.1.13",
    "importlib-metadata>=6.8.0",
    "pyyaml>=6.0.1",
    "arnparse>=0.0.2"
]

[tool.uv.workspace]
members = ["cdk"]

[tool.setuptools]
package-dir = {"contracts_service" = "src"}
packages = ["contracts_service"]

[tool.pytest.ini_options]
minversion = "7.0"
addopts = "-ra -vv -W ignore::UserWarning"
testpaths = ["tests/unit", "tests/integration"]

[tool.ruff]
line-length = 150
