[tool.poetry]
name = "properties_service"
version = "0.2.0"
description = "Unicorn Properties Property Service"
authors = ["Amazon Web Services"]
packages = [
    { include = "properties_service", from = "src" },
    { include = "schema", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.11"
boto3 = "^1.34.100"
aws-lambda-powertools = {extras = ["aws-sdk"], version = "^2.37.0"}
aws-xray-sdk = "^2.13.0"

[tool.poetry.group.dev.dependencies]
pytest = "^8.2.0"
requests = "^2.31.0"
moto = "^5.0.6"
importlib-metadata = "^7.1.0"
pyyaml = "^6.0.1"
arnparse = "^0.0.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "8.0"
addopts = "-ra -vv -W ignore::UserWarning"
testpaths = ["tests/unit"]




[tool.ruff]
line-length = 150
