name: Run Unit Tests for Python services

on:
  workflow_call:
    inputs:
      service_directory:
        type: string
        required: true

jobs:
  unit_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with: { python-version: 3.12 }

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: 0.7.8

      - name: Run Unit tests
        run: make test
        working-directory: ./${{ inputs.service_directory }}
